@import "tailwindcss";

  

  .select{
    display: flex;
    justify-content: space-between;  
    margin: 0.4vmin;
  }

  .TO-FROM{
  
    border:2x solid white;
    display: flex;
    padding: 0.5vmin;
    border-radius: 1vmin;
  }
  
  .custom-border{
    border: 2px solid white;
  }

  
  /* resposive design */

  @media (max-width: 640px) {
    
    form {
      width:85%;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.875rem;
    }
  
    .flex {
      flex-direction:column;
      align-items: center;
    }

    .m-1 {
      margin: 0.5rem ;
    }
  
    .border-white {
      border-width: 1px;
    }

    .select{
      display: flex;
      align-items:last baseline;



    }

    .w-14{
            width:52px;
    }
  
    .TO-FROM{
      border: 2px solid white;
      border-radius: 1vmin;
      padding: 0.1vmin;
     } 
  
}